name: Hybrid Linux Repo CI\CD
on: 
  schedule:
    - cron: '17 */12 * * *' # “At minute 17 past every 12th hour.”
  workflow_dispatch:
env:
  PKGDEST: /tmp/packages
  HOME: /home/user

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - name: Prepare
        env:
          GPG_SIGNING_KEY: ${{ secrets.PRIVATE_GPG_BASE64 }}
        run: |
          pacman-key --init
          pacman-key --populate
          pacman-key --recv-key ${{ secrets.GPG_KEY }} --keyserver ${{ secrets.KEYSERVER }}
          pacman-key --lsign-key ${{ secrets.GPG_KEY }}
          sed -i '$ a \\n[multilib]\nInclude = /etc/pacman.d/mirrorlist' /etc/pacman.conf
          pacman -Syu --noconfirm base-devel sudo git
          useradd user -m -G wheel && echo "%wheel ALL=(ALL:ALL) NOPASSWD: ALL" >> /etc/sudoers
          chown user -R ..
          chown user -R /tmp
          gpg --recv-keys ${{ secrets.GPG_KEY }}

      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v1
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Prepare for hl-repo
        run: |
          sudo -u user git clone https://github.com/Hybrid-Project-Developers/hl-repo.git /home/user/hl-repo
          mkdir /home/user/hl-repo/x86_64
          mkdir /home/user/hl-repo/x86_64v3

      - name: Prepare for makepkg
        run: |
          sed -i 's/#PACKAGER=""/PACKAGER="${{ secrets.PACKAGER }}"/g' /etc/makepkg.conf
          sed -i 's/#GPGKEY=""/GPGKEY="${{ secrets.GPG_KEY }}"/g' /etc/makepkg.conf
          gpg --list-secret-keys

      - name: Build asusctl
        run: |
          cd /home/user/
          sudo -u user git clone https://aur.archlinux.org/asusctl.git 
          cd asusctl
          sudo -u user makepkg --noconfirm --sign -s
          cd ${{ env.PKGDEST }}
          sudo cp -r *.pkg.tar.zst *.pkg.tar.zst.sig ~/hl-repo/x86_64
      
      - name: Update Repo
        run: |
          cd /home/user/hl-repo
          sudo -u user repo-add --verify --sign hl-repo.db.tar.gz x86_64/*.pkg.tar.zst
      
      - name: Upload Packages
        env:
          COMMIT_AUTHOR_NAME: ${{ secrets.COMMIT_AUTHOR_NAME }}
          COMMIT_AUTHOR_EMAIL: ${{ secrets.COMMIT_AUTHOR_EMAIL }}
          AUTH_USERNAME: Norz3n
          AUTH_PASSWORD: ${{ secrets.AUTH_PASSWORD }}
        run: |
          git config user.name "$COMMIT_AUTHOR_NAME"
          git config user.email "$COMMIT_AUTHOR_EMAIL"
          git add -v .
          git commit -m "Update by $GITHUB_REPOSITORY@$GITHUB_SHA" --allow-empty
          echo "username=$AUTH_USERNAME" >> /tmp/git-login.txt
          echo "password=$AUTH_PASSWORD" >> /tmp/git-login.txt
          echo '#! /bin/bash' >> /tmp/credential-helper
          echo 'cat /tmp/git-login.txt' >> /tmp/credential-helper
          chmod +x /tmp/credential-helper
          git config credential.helper '/tmp/credential-helper'
          git pull origin main --rebase=true # to avoid conflicts due to data races
          git push origin main